
.watcalc {
  width: 100%;
}

.watcalc-header {
  padding: 18px;
  text-align: right;
  /*border-radius: 5px 5px 0 0;*/
  /*background: #1179cf;*/
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
  background: #79c614;
  background: -moz-linear-gradient(top, #79c614 0%, #2e971c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #79c614), color-stop(100%, #2e971c));
  background: -webkit-linear-gradient(top, #79c614 0%, #2e971c 100%);
  background: -o-linear-gradient(top, #79c614 0%, #2e971c 100%);
  background: -ms-linear-gradient(top, #79c614 0%, #2e971c 100%);
  background: linear-gradient(to bottom, #79c614 0%, #2e971c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79c614', endColorstr='#2e971c', GradientType=0 );
}
.watcalc-header h2{
  float: right;
  color: white;
  margin: 0;
}

.clr {
  clear: both;
}

.watcalc-inputs {
  background: gainsboro;
  /*display: table;*/
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
}
.watcalc-cell {
  position: relative;
  height: 40px;
  min-width: 40px;
  vertical-align: middle;
  text-align: center;
  padding: 8px;
  border: 1px solid lightgrey;
}

.watcalc-input {
  cursor: pointer;
}
.watcalc-input:hover {
  background: #d8e9f0;
}

.watcalc-cell.active {
  background-color: #c0e1f2;
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.1) inset;
}

.watcalc-label {
  width: 25%;
}


.watcalc-cell:last-of-type {
  border-right: none;
}

.watcalc-row {
  display: table-row;
}

.hidden {
  display: none;
}

.watcalc-input:hover .hidden.tip {
  display: block;
}

.watcalc-input .tip {
  font-size: 11px;
  background-color: #ffffff;
  border: 1px solid #cde9f7;
  border-radius: 10px;
  padding: 12px 14px;
  left: 0px;
  bottom: -60px;
  position: absolute;
  box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.15);
  display: none;
  min-width: 150px;
  transition: all 0.3s ease 0s;
  z-index: 2;
}
.watcalc-input .tip:hover {display: block}

.watcalc-cell.btn {
  background: #1179cf url('/design/default/img/btn-go.png') no-repeat center;
  width: 60px;
}
.watcalc-cell.btn a span {
  bottom: 0;
  display: inline-block;
  position: absolute;
  right: 0;
  left: 0;
  color : white;
  font-weight: bold;
  font-size: 13pt;
  padding: 12px 0;
}
.watcalc-cell.btn a {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  cursor: pointer;
}

.reset {
  background: indianred;
}
.interact {
  background: #0ac285;
}
.interact, .reset {
  cursor: pointer;
  color : white;
  font-weight: bold;
  font-size: 13pt;
}

.calc-alert {
  color: indianred;
}

img.scheme {
  width: 100%;
}

#scheme_id {
  background: #c0e1f2;
  padding: 5px 20px;
  text-align : right;
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 10px;
}

.scheme-value {
  font-weight: bold;
  font-size: 20px;
}

@media print {
  body {
    width : 100%;
  }
  .first-menu,
  #bot-head,
  .search,
  .slogan,
  #modal_side_bar,
  #left-bar,
  .watcalc-cell:last-child,
  .watcalc-row:last-child,
  .w100,
  #to-top,
  #scheme_details .actions,
  .foot-block
  {
    display : none;
  }
  .watcalc-cell {
    border: 0.1cm solid grey;
  }
  .watcalc-cell.active {
    border: 0.2cm solid black !important;
    box-shadow : none;
  }
  #main-content {
    margin-left: 10px;
  }
  #full-wrap {
    min-height : calc(100% - 100px);
  }
  .time {
    right: 668px;
  }
  .phone {
    right: 320px;
  }
  #scheme_details
  {
    page-break-before: always;
  }

}
